django
django_rest_framework
djangorestframework-simplejwt
environs
psycopg2-binary
gunicorn
cloudinary
django-cloudinary-storage
django-storages
drf-yasg
idna
inflection
marshmallow
packaging
pillow
psycopg
PyJWT
python-dotenv
pytz
PyYAML
requests
six
sqlparse
typing_extensions
uritemplate
urllib3
whitenoise
